<style>
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
H2 {
    font-size: 4vw;
    font-weight: 200;
    margin-top: -8vh;
}
.indent {
    text-indent: 11vw;
    padding-left: 0vh;
    padding-right: 0vh;
    font-size: 5vw;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.tree {
    height: 17vh;
    width: 40vw;
    padding-bottom: 0vh;
    padding-left: 2vw;
    float: right;
    padding-top: 31vh;
}
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    .tree {
        left: 50%;
        width: 99%;
        height: 62vw;
    }
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .tree {
    height: 17vh;
    width: 40vw;
    padding-bottom: 0vh;
    padding-left: 2vw;
    float: right;
    padding-top: 12vh;
}
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    
H2 {
    font-size: 3vw;
    font-weight: 200;
    margin-top: 0vh;
    margin-bottom: 0.1vh;
}
.indent {
    text-indent: 50px;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1vw;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf > div
{
    display:table-cell;
    vertical-align:top;
    padding-left: 3vw;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.tree {
    height: 45vh;
    width: 45vw;
    padding-top: 18vh;
}
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


<%# 
H2 {
    font-size: 1.5vw;
    font-weight: 200;
    padding-right: 16vw;
}
.indent {
    text-indent: 50px;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1vw;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
} %>
.blogSection {
    padding-top: 14vh;
}

</style>
<script>
function fizzBuzzArt() {
      var num = 1;
      while (num < 5041) {
          if (num % 105 == 0) {
             document.getElementById('answerhere').innerHTML += '<br>' 
          } else if (num % 15 == 0) {
              document.getElementById('answerhere').innerHTML += '+'
          } else if (num % 5 == 0) {
              document.getElementById('answerhere').innerHTML += "-";
          } else if (num % 3 == 0) {
              document.getElementById('answerhere').innerHTML += "=";
          } else {
              document.getElementById('answerhere').innerHTML += '*';
          }
          num += 1;
      }
    }
</script>

<div class="blogSection">
<div class="cf">
<div>
<img class="tree" src="img/lock.jpg"></div>
<div>
<center>
<H2>9/06/17
<br>
Cyber Security</H2></center>
<br><br>
<p class="indent">About 2 years ago, a friend of mine gifted me with a lock pick set.  I thought to myself, "I've seen this done in the movies, but there is no way it is as easy as they make it out to be."  Within a couple hours, he and I were timing ourselves on 8 different locks, that we owned, to see who could pick them the fastest.  I learned an important lesson that day about physical security.  Locks only keep honest people honest.  Picking a lock does take a certain amount of skill, but once that is mastered, most locks are fairly easy to pick!</p>
<p class="indent">The same is true when it comes to cyber security... to a point.  A friend of mine from church, <a href="https://github.com/michael-david-fry">Michael</a> told me that he was attending a meetup once a week to learn about cyber security.  I saw this as an opportunity to tighten the security of the software I was developing.</p>
<p class="indent">Our first step was to install a <a href="https://en.wikipedia.org/wiki/Virtual_machine">Virtual Machine.</a>  We used <a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox.</a>  Then we pulled down <a href="https://www.kali.org/">Kali.</a>  Kali is a Debian-derived Linux distribution designed for digital forensics and penetration testing.  Think of it like the lock pick set.  It is a set of tools you use to open doors.  From there, we went to <a href="http://overthewire.org/wargames/bandit/">Over the Wire</a> and began Bandit.  Bandit and othe games offered by the OverTheWire community can help you to learn and practice security concepts in the form of fun-filled games.</p>
<p class="indent">As of this moment, I am only at level 4 in Bandit, but I am learning how Hackers do what they do, Linux command line interaction, and how to guard against hackers.  After my enlightenment on the facade of physical locks, I went out and purchased locks that guard against being picked.  I expect that once I understand how to guard against hackers, you will see much more secure software developed whilst Coding in Clendinen.</p></div>
</div>
<br><hr><br><br><br>
<div class="cf">
<div>
<img class="tree" src="img/fizzbuzz.jpg"></div>
<div>
<center>
<H2>8/30/17
<br>
FizzBuzz Art</H2></center>
<br><br>
<p class="indent">Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print <a href="https://en.wikipedia.org/wiki/Fizz_buzz#Programming_interviews">"FizzBuzz."</a>  FizzBuzz is a common interview question for software developers.  It helps quickly weed out those who can code and those who say they can code.</p>
<p class="indent"><a href="https://en.wikipedia.org/wiki/Fizz_buzz#Programming_interviews">FizzBuzz</a> My first attempt at completing <a href="https://en.wikipedia.org/wiki/Fizz_buzz#Programming_interviews">FizzBuzz</a> was a few weeks into the bootcamp.  We coded it in Ruby and I thought it felt amazing once I finally got it to work.  A co-worker of mine, <a href="https://github.com/marv070">Marv</a>, decided to seek to complete the coding exercises we cover in Ruby in the Bootcamp, in Javascript.  While looking over his code together, we were able to make it work.  In order to take it a step further, I thought I could represent the numbers and such with symbols to produce a more pleasing representation.  Below you can click the button to see what <a href="https://en.wikipedia.org/wiki/Fizz_buzz#Programming_interviews">FizzBuzz</a> looks like when you are Coding in Clendenin.</p> 
<center>
<input type='button' onclick="fizzBuzzArt()" value="SHOW JS FIZZBUZZ ART">
<div id="answerhere" style="width: 50vw; padding-top: 4vh;">
</div></center>
</div>
</div>
<br><hr><br><br><br>
<div class="cf">
<div>
<img class="tree" src="img/hoodie.jpeg"></div>
<div>
<center>
<H2>8/17/17
<br>
Diversity in Coding</H2></center>
<br><br>
<p class="indent">As a cisgender white male in the coding world, I had always assumed that I brought little if any diversity to the coding world. For those not familiar with the term cisgender, it means that I identify as the gender I was assigned at birth. The <a href="https://techjobstour.com/">Tech Jobs Tour</a> is aimed at bringing diversity into the coding and tech industries and I never thought about myself as adding diversity until this conference.</p>
<p class="indent"><a href="https://techjobstour.com/">Tech Jobs Tour</a> states their goal and purpose thusly: "Women, people of color, and LGBTQ people are opting for more affordable and accessible coding bootcamps and online education programs over 4-year computer science degrees. At the heart of our events is a deep commitment to representation in tech. We do that by showcasing top tech talent who are changing the world, who happen to be women, people of color, LGBTQ, veterans and people with disabilities. Our goal is to push the industry towards a higher standard, a technology sector that is representative of the people who live in this country. because we believe, together, we can and will change the face of technology to help American workers get the jobs they deserve."</p>
<p class="indent">West Virginia is not known as a racially diverse population. We are not thought of as progressive, but what we bring to the table is a different kind of diversity. West Virginia was the only state with a decline in home prices between Q3 2014 and Q3 2015, with prices falling by 0.1%. The state's labor market is also suffering: The November 2015 unemployment rate of 6.5% was the third highest in the country, and West Virginia was one of only five states to see a drop in nonfarm payroll employment between November 2014 and November 2015, with a 1.4% decline. West Virginia is economically poor and has been for quite a while, but we have learned to survive and thrive in the face of impossible odds. We don't give up. We look at what others say is an impossible situation or problem and overcome it.</p>
<p class="indent">I believe that is what allows us to bring diversity to the coding world. We solve problems others thought impossible. Coders do not give up. We present multiple solutions to any issue and try them out until we find one that works. Diversity in the coding world absolutely means that we need more coders who look nothing like Richard Hendricks of HBO's <a href="http://www.hbo.com/silicon-valley">Silicon Valley</a>, but just maybe it also means we need more people from West Virginia and the Appalachia region in the field. And so far, that is what diversity looks like Coding in Clendenin.</p></div>
</div>
<br><hr><br><br><br>
<div class="cf">
<div>
<img class="tree" src="img/floor.jpg"></div>
<div>
<center>
<H2>7/24/17
<br>
Replacing the Floor like a Coder</H2></center>
<br><br>
<p class="indent">I married up.  My wife is the most amazing person I have ever met and one thing I have learned after 9 years of marriage is that if she believes I can do something, I have a way of making it happen.  Our current project is replacing the floor in the master bedroom of our old farm house.  It is hard work because the room is not square and while the floor is now level, the walls are not.  This presented a problem when coming to a section where the flooring could not be placed normally.  Rather than hack through it, I convinced my wife to approach the problem as a coder.</p>
<p class="indent">As a coder, I have learned that when you approach any new problem the best approach is well thought out.  Sure, I could have broken out my saw and made things fit, but that was not the best option.  We stepped away from the problem and came back with three potential solutions.  After discussing and prototyping the solutions, we settled on one and it worked!</p>
<p class="indent">In life and in code, there are times where you just have to push through and get to a solution. However, most times it is better to step away only to come back later with multiple potential solutions and see what works best for the particular problem. Break big problems down into smaller, more manageable problems. That is what I have learned Coding in Clendenin.</p></div>
</div>
<br><hr><br><br><br>
<div class="cf">
<div>
<img class="tree" src="img/tree.jpg"></div>
<div>
<center>
<H2>7/19/17
<br>
How I got into Software Development</H2></center>
<br><br>
<p class="indent">I have worked in IT most of my adult life.  A number of years ago when I set off for college, I began Majoring in Computer Engineering as I enjoyed working with and on computers.  However, I was working my way through school and having little time to complete rigorous homework; Calculus did me in.  I graduated a number of years later, but not with a degree in engineering.  I found myself working front line technical support at a major communications company and worked my way up to eventually the role of Network Compliance Analyst.  Functionally working in the world of CCNA, I was dealing with code, but was not able to modify or create it.  I then moved to the state of West Virginia and into a position as a Software Tester/Trainer.  My job was to test the graphical user interface end user experience to ensure changes made by programmers did not cause bugs and errors and report back when they did.  I was working with coders, but was never able to look at the code.</p>
<p class="indent">In July of 2016, I was informed about a free coding bootcamp called <a href="http://www.minedminds.org">Mined Minds</a>.  It was geared at teaching out of work Coal Miners to become software developers and was now open to anyone willing to put forward the effort.  In those 16 weeks we covered Ruby, HTML, CSS, SQL, and some Javascript.  It culminated in a community project in which I and 3 other students wrote a web-wrapper for an educational game coded in Unity.</p>
<p class="indent">Upon graduation, I was offered an apprenticeship with <a href="http://www.minedminds.org">Mined Minds</a> Consultancy. At this point, I had a decent grip on Ruby, HTML, CSS, and SQL and was honestly afraid of Javascript since I had only used it a few times. My first project did not require Javascript, however we were tasked to natively build and Android and Iphone app for a client. I had to learn Java and Swift enough to get a working product but that is another story that will come later. That is how I began Coding in Clendenin.</p></div>
</div>
<br>
<hr>
<br>

<br>
</div>