<style>

H2 {
    font-size: 1.5vw;
    font-weight: 200;
    padding-right: 16vw;
}
.indent {
    text-indent: 50px;
    padding-left: 3vh;
    padding-right: 3vh;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf > div
{
 display:table-cell;
    vertical-align:top;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.tree {
    height: 23rem;
}
</style>
<br><br>
<div class="cf">
<div>
<img class="tree" src="img/tree.jpg"></div>
<div>
<center>
<H2>7/19/17
<br>
How I got into Software Development</H2></center>
<br><br>
<p class="indent">I have worked in IT most of my adult life.  A number of years ago when I set off for college, I began Majoring in Computer Engineering as I enjoyed working with and on computers.  However, I was working my way through school and having little time to complete rigorous homework; Calculus did me in.  I graduated a number of years later, but not with a degree in engineering.  I found myself working front line technical support at a major communications company and worked my way up to eventually the role of Network Compliance Analyst.  Functionally working in the world of CCNA, I was dealing with code, but not able to modify or create it.  I then moved to the state of West Virginia and into a position as a Software Tester/Trainer.  My job was to test the graphical user interface end user experience to ensure changes made by programmers did not cause bugs and errors and report back when they did.  I was working with coders, but was never able to look at the code.</p>
<p class="indent">In July of 2016, I was informed about a free coding bootcamp called Mined Minds.  It was geared at teaching out of work Coal Miners to become software developers and was now open to anyone willing to put forward the effort.  In those 16 weeks we covered Ruby, HTML, CSS, SQL, and some Javascript.  It culminated in a community project in which I and 3 other students wrote a web-wrapper for an educational game coded in Unity.</p>
<p class="indent">Upon graduation, I was offered an apprenticeship with Mined Minds Consultancy.  At this point, I had a decent grip on Ruby, HTML, CSS, and SQL and was honestly afraid of Javascript since I had only used it a few times.  My first project did not require Javascript.  We were tasked to natively build and Andriod and Iphone app for a client.  I had to learn Java and Swift enoough to get a working product but that is another story that will come later.</p></div>
</div>
<br><br>
<div class="cf">
<div>
<img class="tree" src="img/tree.jpg"></div>
<div>
<center>
<H2>7/24/17
<br>
Replacing the Floor like a Coder</H2></center>
<br><br>
<p class="indent">I married up.  My wife is the most amazing person I have ever met and the amazing thing I have learned after 9 years of marriage is that if she believes I can do something, I have a way of making it happen.  Our current project is replacing the floor in the master bedroom of our old farm house.  It is hard work because the room is not square and while the floor is now level, the walls are not.  This presented a problem when coming to a section where the flooring </p>
<p class="indent">In July of 2016, I was informed about a free coding bootcamp called Mined Minds.  It was geared at teaching out of work Coal Miners to become software developers and was now open to anyone willing to put forward the effort.  In those 16 weeks we covered Ruby, HTML, CSS, SQL, and some Javascript.  It culminated in a community project in which I and 3 other students wrote a web-wrapper for an educational game coded in Unity.</p>
<p class="indent">Upon graduation, I was offered an apprenticeship with Mined Minds Consultancy.  At this point, I had a decent grip on Ruby, HTML, CSS, and SQL and was honestly afraid of Javascript since I had only used it a few times.  My first project did not require Javascript.  We were tasked to natively build and Andriod and Iphone app for a client.  I had to learn Java and Swift enoough to get a working product but that is another story that will come later.</p></div>
</div>