<!DOCTYPE html>

<style>
.clendenin {
    width: 100%;
    position: absolute;
}
.code {
    width: 66vw;
    height: 46vw;
    position: relative;
    padding-left: 16vw;
    padding-top: 12vw;
}
H1 {
    position: relative;
    padding-left: 16vw;
    padding-top: 12vw;
}


.semitransparentbox {
    border-radius: 25px;
    background-color: rgba(51, 122, 183, 0.35);
    border: 1px solid #B0E674;
    }
#dim_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(7, 0, 0, 0.68);
    z-index: 1001;
}
#popup {
    width: 50vw;
    height: auto;
    background: rgba(255, 212, 68, 0.88);
    border: 5px solid black;
    border-radius: 0.5em;
    position: relative;
    top: 39vh;
}
.popup {
    margin-top: 3vh;
    font-size: 2vw;
    text-align: center;
    width: 87%;
}
.feature_btns {
    font-size: 2vw;
    color: gold;
    margin-bottom: 3vh;
    margin-top: 3vh;
    border-radius: 0.5em;
    background-color: slategrey;
    border-color: black;
}
</style>

<body>
<center>


<script>

var x = document.getElementById('projects');
if (localStorage['firstRun'] === 'false') {
    // The page has been visited before
    var myData = localStorage.getItem('toggle');
    if (localStorage['toggle'] === 'false') {
        x.style.display = 'none';
    } else {
        x.style.display = 'block';
    }
} else {
    // The page has not been visited before
    // OR
    // The user or script has cleared the localStorage value
    function hideYes() {
        document.getElementById('dim_background').style.display = "none";
        localStorage['toggle'] = 'true';
        toggle = true;
        x.style.display = 'block';
        console.log(toggle)
    }
    function hideNo() {
        document.getElementById('dim_background').style.display = "none";
        localStorage['toggle'] = 'false';
        toggle = false;
        x.style.display = 'none';
        console.log(toggle)
    }
    function PopUp(show) {
        document.getElementById('dim_background').removeAttribute('style');
    }
    window.onload = function () {
        setTimeout(function () {
            PopUp('show');
        }, 100);
    }
}
localStorage['firstRun'] = 'false';

</script>


<div id="dim_background" style='display:none'>
    <div id="popup">
        <center>
             <div class="popup">You have been selected to try out the Projects section of <a href="www.tongtechnologies.com">this website!</a>  Would you like to test out the Projects section which is still in development?<br>
<input type='button' id="toggleButton" class="feature_btns" onclick="hideYes()" value="Yes"> <input type='button' id="toggleButton" class="feature_btns" onclick="hideNo()" value="No"></div>

        </center>
    </div>
</center>

<div class="img_position">
<img class="clendenin" src="img/clendenin1.jpg";>
<div class="semitransparentbox"></div>
<img class="code" src="img/codenoback.png";>
</div>



</body>
</html>