<!DOCTYPE html>

<style>

</style>

<body>
<center>
<p>This is Jacob and he sucks at life!</p></center>
<img src="http://www.wvgazettemail.com/apps/pbcsi.dll/storyimage/CH/20160709/GZ0115/160709612/AR/0/AR-160709612.jpg?s=1499126400069" style="width: 166vh;">
</body>
</html>