<!DOCTYPE html>

<style>
.clendenin {
    width: 100%;
    position: absolute;
}
.code {
    width: 66vw;
    height: 46vw;
    position: relative;
    padding-left: 16vw;
    padding-top: 12vw;
}
</style>

<body>
<center>
<p></p></center>
<div class="img_position">
<img class="clendenin" src="img/clendenin.jpg";>
<img class="code" src="img/codenoback.png";>
</div>
</body>
</html>