<style>
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .topnav a {
    padding: 2vh 1vw;
    font-size: 2vh;
}
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    H1 {
    font-size: 5vw;
    font-weight: 100;
    padding-top: 2vh;
}
/* Add a black background color to the top navigation */


/* Style the links inside the navigation bar */
.topnav a {
    padding: 2vh 1vw;
    font-size: 2vh;
}

/* Change the color of links on hover */


/* Add a color to the active/current link */
hr {
    margin-bottom: -2em;
}
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    .topnav a {
    padding: 2vh 1vw;
    font-size: 3vw;
}
/* Styles */
}
hr {
    margin-top: 0vh;
}
 .color {
    background: #445aaf;
} 
.topnav {
    background-color: #445aaf;
    overflow: hidden;
    width: 100%;
}
H1 {
    
    font-size: 5vw;
    text-align: center;
    font-weight: 100;
    margin-top: 2.5vw;
    margin-bottom: 0.5vw;
}
.topnav {
    background-color: #445aaf;
    overflow: hidden;
    float: right;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FFD444;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #B28C0C;
    color: white;
}

.behindNavbar {
    background-color: red;
    z-index: 999;
}
</style>

<% projects_section_enabled = true %>

<div class="color">
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Coding in Clendenin</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>
    <div class="behindNavbar">
<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/resume">Resume</a>
    <a href="/blog">Blog</a>
    <a href="mailto:jeremy@tongtechnologies.com">Contact</a>
    <a href="https://github.com/jtongtech">Github</a>
    
    <% if projects_section_enabled == true %>
        <a href="/projects">Projects</a>
    <%end%>
    
</div>
</div>
</div>
<%=yield%>