<HTML>
<HEAD>
	<TITLE></TITLE>
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 1.25in; margin-right: 1.25in; margin-top: 1in; margin-bottom: 1in }
		P { margin-bottom: 0.08in }
		A:link { so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 0.17in; page-break-inside: avoid; page-break-after: avoid">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=6><B>Jeremy
E. Tong</B></FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>jeremy@tongtechnologies.com</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
 </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Segoe UI Symbol, serif"><FONT SIZE=2><B>&#9642;</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
 </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Charleston
WV  </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Segoe UI Symbol, serif"><FONT SIZE=2><B>&#9642;</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
 </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>304-719-1049
 </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Segoe UI Symbol, serif"><FONT SIZE=2><B>&#9642;</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>
 </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Github:
 </B></FONT></FONT></FONT><A HREF="https://github.com/eldertong"><FONT COLOR="#0000ff"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><U><B>https://github.com/eldertong</B></U></FONT></FONT></FONT></A></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-top: 0.25in; line-height: 0.17in; page-break-inside: avoid; page-break-after: avoid">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=4 STYLE="font-size: 16pt">Education</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-top: 0.04in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Mined
Minds</B></FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt">	</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Charleston,
WV</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>	Programing
and Web Development</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>	Ruby,
Javascript, HTML, CSS</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-top: 0.04in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>James
Petigru Boyce College</B></FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt">	</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Louisville,
KY</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>	Bachelor
of Arts in Biblical and Theological Studies</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>	Consecutive
Dean&rsquo;s List Awards</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>	Emphasis
in oratory and classical rhetoric</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-top: 0.04in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>University
of Louisville</B></FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt">	</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Louisville,
KY</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>	Business
Administration</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-top: 0.25in; line-height: 0.17in; page-break-inside: avoid; page-break-after: avoid">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=4 STYLE="font-size: 16pt">Experience</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Mined
Minds Consultancy	</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>						
   Clendenin WV</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Full
Stack Developer Consultant          					February 2017- Current</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Collaborate
	with designers, developers, and project lead(s) working on both web
	and mobile applications throughout all phases of development, from
	product inception to production</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Develop
	web applications, Andriod and IOS applications, and Chrome
	Extensions</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Implement
	web interaction design best practices, with a focus on consistency
	and usability </FONT></FONT></FONT>
	</P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Create
	website layouts and user interfaces using standard web development
	technologies </FONT></FONT></FONT>
	</P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Develop
	client-driven features, applications, and infrastructure using AJAX,
	jQuery, HTML5, CSS3, Ruby, JavaScript, SQL, Java, Swift, XML, Test
	Driven Development (TDD) and pair- programming</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Mentor
	and train Mined Minds students with concepts of software development
	throughout 16-week Full Stack Bootcamp</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Global
Science and Technologies</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>						
   Charleston WV</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Application
Tester on contract to Supreme Court of West Virginia               
October 2013- July 2016</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Work
	with the existing support staff to learn and maintain the current
	operational procedures</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Provide
	on-site support of application rollout at multiple field office
	locations </FONT></FONT></FONT>
	</P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Validate
	testing activities cover all requirements </FONT></FONT></FONT>
	</P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Support
	testing defect review and resolution process</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Create
	test data to validate certain test conditions</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Create
	expected results for application actions</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Execute
	detailed test scenarios</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Report
	discrepancies between actual and expected results</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Assist
	in problem resolution</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Re-test
	conditions where application fixes have been made</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Assist
	financial arm of operation</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Create
	detailed financial exercise book for use during training and as a
	further resource for clerks while in the field</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Maintain
	financial exercises with each subsequent release</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>On
	&ndash;site support for clerks and clerk assistants</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Assist
	in monthly financial closeouts on-site</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Charter
Communications</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>						
                   Louisville  KY</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Network
Compliance Engineer/Systems Analyst                                  
             July 2012- October 2013</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Function
	as data compliance coordinator for Network Systems Engineers during
	the turn-up process for fiber optic networks</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 9pt">E</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 9pt">nsure
	standardization of interface descriptions and functionality in Fiber
	Optic switches, Head-ends, and Core Devices</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Manage
	massive project backlog while maintaining current workload to ensure
	complete customer satisfaction for Fiber Optic, PRI, SIP, WAN, and
	EOC customers</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Senior
Advisor						        December 2011- July 2012</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Function
	as lead technical support specialist and technical supervisor for
	both internal and external customers</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Enact
	real change within the Charter family through implementation of the
	Customer Experience Transformation emphasizing Knowledge, Courtesy,
	Timely Resolution, and Concern</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Through
	group and individual coaching created an atmosphere in which Team
	could flourish and become one of the top performing teams with-in
	Louisville&rsquo;s Center of Excellence</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Charter
Business Team Captain				          August 2011- December 2011</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Function
	as technical supervisor, liaison to the LEAD Escalation Specialists,
	liaison to the team&rsquo;s immediate supervisor</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Duties
	include managing IVR Outage Management, organizing events and
	strategies, ensure implementation of policy and procedure at agent
	level</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Oversee
	various special projects within the Charter Business Department
	including the SDV change over, DNS Updates, the first ever
	preemptive IP allocation and configuration within the CB Department,
	and liaison between special accounts during the Windjammer
	Transition directly under Tom Eisenhoffer (Charter Business Customer
	Support Systems Manager)</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Maintain
	previous duties as Charter Business Broadband Data Specialist</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Specialize
	in ARRIS and Cisco CMTS command line interface and configuration</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Charter
Business Broadband Data Specialist				      July 2011- August 2011</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Function
	as commercial technical support for Charter&rsquo;s business
	customers</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Act
	as intermediary supporting both commercial IT departments and
	third-party network managing services: including but not limited to
	DSR and Megapath</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Ensure
	recurring revenue for the fastest growing department with-in the
	Charter umbrella.</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>On-Boarding/Sales
Mentor					    	    July 2010- January 2011</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Facilitated
	agents between training and production, coached and prepared new
	hires, reviewed and enforced material presented in training</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Overhauled
	and ensured material and presentations were reproducible in the
	potential absence of any mentor in a classroom setting.</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Broadband
Technical Specialist				                    January 2010- July 2010</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Acted
	as the voice of Charter Communications</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Manage
	payments</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Implemented
	customer education</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Troubleshoot
	video and internet issues for residential customers</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-left: 0.56in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>The
Gathering Community Church</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>				
               Taylorsville  KY</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Church
Planter/Senior Pastor					               July 2009- Present</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Foundational
	visionary, creator, and facilitator in planting a new service
	organization within the community</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Collected,
	analyzed, and presented demographic material to a national
	organization for proposal to begin work</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Functioned
	as trainer, coach, and facilitator for a community of adult learners</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Created
	and implemented budget and community initiatives aimed at
	integration within the community</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Ensured
	retention and recruitment of new individuals with little to no
	previous affiliation.</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P ALIGN=LEFT STYLE="margin-left: 0.19in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Van
Buren Baptist Church</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>				
             			 Bloomfield  KY</FONT></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-left: 0.31in; margin-bottom: 0in; line-height: 0.17in">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Senior
Pastor						                    January 2006- July 2009</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Elected
	to facilitate a community of aged adults in adult learning</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Overhauled
	a tenured organization at the brink of closure to ensure progressive
	community impact in the future</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Adapted
	training style to cultural mores of a rural atmosphere</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Grew
	organization from ten members to forty-six in just three years.</FONT></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-top: 0.25in; line-height: 0.17in; page-break-inside: avoid; page-break-after: avoid">
<FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=4 STYLE="font-size: 16pt">Specialized
Skills and Experience</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>AJAX,
	jQuery, Ruby, Javascript, HTML, CSS, Java, XML, Swift, Android and
	IOS Development</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Proficient
	in Microsoft Office (Word, Excel, Outlook, and PowerPoint)</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Proficient
	in ACSR, CIT, CMTS, Salesforce, Homeworld, CBPP, Safari, PSP,
	Parallels, Sigma, RED, LAD, LCS, NANPA, Bacclite, Prism, Alarms, and
	Escalation Casework</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Cultural
	development, community development, and training in focused on adult
	learning</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Recognized
	as a leader by peers and leadership</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Educated
	in training techniques centered on adult learning</FONT></FONT></FONT></P>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in"><FONT COLOR="#000000"><FONT FACE="Cambria, serif"><FONT SIZE=2>Combined
	11 years of education and experience in coaching adult learners</FONT></FONT></FONT></P>
</UL>
</BODY>
</HTML>